

<form (ngSubmit)="login(userForm)" #userForm="ngForm" >
  <div><label for="username"></label></div>
  <div><input id="username" name="username" type="text" ngModel required  placeholder="Identifiant"></div>
  <div><label for="password"></label></div>
  <div><input id="password" name="password" type="password" ngModel  required placeholder="Mot de passe"></div>
  <button  type="submit" id="validateLogIn">Valider</button>
</form>
<ul>
  <li>
  <span><button [ngStyle]="{backgroundColor : formState == 'register'? 'cornflowerblue' : 'gray'}" id="switchToRegister"
                (click)="onRegister()">S'inscrire</button></span>
  </li>
  <li>
    <button [ngStyle]="{backgroundColor : formState == 'authenticate'? 'cornflowerblue' : 'gray'}" id="switchToAuth"
            (click)="onAuthenticate()">S'identifier</button>
  </li>

</ul>

<router-outlet></router-outlet>
