<head>
    <title>Nom du Film</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Nom du Film</h1>
        </div>
        <img id="movie-poster" src="https://images.epagine.fr/184/9782355743184_1_75.jpg" alt="Affiche du Film">
        <div id="movie-info">
            <h2>Synopsis</h2>
            <p>Un résumé captivant du film qui donne aux spectateurs un aperçu de l'histoire passionnante.</p>

            <h2>Acteurs principaux</h2>
            <p>Nom de l'acteur 1, Nom de l'acteur 2, Nom de l'acteur 3</p>

            <h2>Date de sortie</h2>
            <p>1er Janvier 2023</p>

            <h2>Categories</h2>
            <p>Action, Aventure, Animation</p>

            <h2>Length</h2>
            <p>50</p>

            <h2>Plot</h2>
            <p>Blabla</p>

          <h2>Content Rating</h2>
          <p>blibli</p>

          <h2>Overall rating</h2>
          <p>bloblo</p>

            <h2>Trailer</h2>
            <div><video controls width="250">
              <source src="https://www.youtube.com/watch?v=EhIZrZQoHuA" type="video/webm" />
            </video>
            </div>
            <app-evaluation></app-evaluation>
        </div>
    </div>
</body>
<!--<div>
<tr>
  <td>Title :</td>
  <td>Year :</td>
  <td>Length :</td>
  <td>Plot : </td>
  <td>(Banner)</td>
  <td>(Trailer)</td>
  <td>Content Rating :</td>
  <td>overall rating : </td>
  <td>categories :  </td>
  <td>tags : </td>
</tr>
</div>-->
