<!--<div>
<tr>
  <td>Title :</td>
  <td>Year :</td>
  <td>Length :</td>
  <td>Plot : </td>
  <td>(Banner)</td>
  <td>(Trailer)</td>
  <td>Content Rating :</td>
  <td>overall rating : </td>
  <td>categories :  </td>
  <td>tags : </td>
</tr>
</div>-->
<html>

	<head>

		<title>Film</title>

	</head>

	<body>
    <div style="text-align: center" >
		<h1>TITRE DU FILM</h1>
<div class="display">
		<img src="https://images.epagine.fr/184/9782355743184_1_75.jpg" /> 
</div>
		<br />
<div>
		Informations générales


		Année de Sortie : <br />

		Réalisateur : <br />

		Acteurs Principaux : <br />

		Genre : <br />

		Résumé

    <p>Blablabla</p>


    Bande-Annonce du Film
<div>
    <video controls width="250">
      <source src="https://www.youtube.com/watch?v=EhIZrZQoHuA" type="video/webm" />

</div>

		Sources des informations et médias
  </div>
	</body>
</div>
</html>

