<div id="general">
    <h3>Recommandations</h3>
    <!-- cadre générale -->
    <div id="mainBlock">
        
        <!-- carde film/série individuel -->
        <section id="section1">
            <a href="#section2" class="arrow__btn"><div id="fleche">‹</div></a>
            <div id="individualBlock">
                <img src="https://source.unsplash.com/random/300x250" alt="random image">
            </div>
            <div id="individualBlock">
                <img src="https://source.unsplash.com/random/300x250" alt="random image">
            </div>
            <div id="individualBlock">
                <img src="https://source.unsplash.com/random/300x250" alt="random image">
            </div>
            <div id="individualBlock">
                <img src="https://source.unsplash.com/random/300x250" alt="random image">
            </div>
            <div id="individualBlock">
                <img src="https://source.unsplash.com/random/300x250" alt="random image">
            </div>
            <a href="#section2" class="arrow__btn"><div id="fleche">›</div></a> 
        </section>
        
        
    </div>
</div>