<div id="general">
    <h3>Recommandations</h3>
    <!-- cadre générale -->
    <div id="mainBlock">

        <!-- carde film/série individuel -->
        <!--section id="section1">
            <a href="arrow-minus-1" id="arrow__btn"><div id="fleche">‹</div></a>
            <div id="individualBlock">
                <a id="redirect" [routerLink]="['']" [routerLinkActive]="'active'"  [routerLinkActiveOptions]="{exact:true}">
                    <img src="https://source.unsplash.com/random/300x250" alt="random image">
                </a>
            </div>
            <div id="individualBlock">
                <a id="redirect" [routerLink]="['']" [routerLinkActive]="'active'"  [routerLinkActiveOptions]="{exact:true}">
                    <img src="https://source.unsplash.com/random/300x250" alt="random image">
                </a>
            </div>
            <div id="individualBlock">
                <a id="redirect" [routerLink]="['']" [routerLinkActive]="'active'"  [routerLinkActiveOptions]="{exact:true}">
                    <img src="https://source.unsplash.com/random/300x250" alt="random image">
                </a>
            </div>
            <div id="individualBlock">
                <a id="redirect" [routerLink]="['']" [routerLinkActive]="'active'"  [routerLinkActiveOptions]="{exact:true}">
                    <img src="https://source.unsplash.com/random/300x250" alt="random image">
                </a>
            </div>
            <div id="individualBlock">
                <a id="redirect" [routerLink]="['']" [routerLinkActive]="'active'"  [routerLinkActiveOptions]="{exact:true}">
                    <img src="https://source.unsplash.com/random/300x250" alt="random image">
                </a>
            </div>

            <a href="arrow-plus-1" id="arrow__btn"><div id="fleche">›</div></a>
        </section-->

        <app-movie-listing></app-movie-listing>
    </div>
</div>
