h3 {
    color: blue;
}

#mainBlock {
    display: flex;
    height: 350px;
    flex-direction: row;

}

#individualBlock {
    /* flex: ; */
    > img {
        height: 268px;
        width: 182px;
        padding: 0px 10px 0px 10px;  
    }
    
}

@media all and (max-width: 390px)  {
    #mainBlock {
        display: flex;
        height: 350px;
        flex-direction: row;
        margin: 20px 0 20px 0;

    }

    #individualBlock {
        /* flex: ; */
        > img {
            height: 268px;
            width: 182px;
            padding: 0px 10px 0px 10px;  
        }
        
    }

    h3 {
        color: red;
    }
}

