<h2>Comments List</h2>

<div class="list-comments">
    <div class="comment">
        <p>
            1
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, obcaecati quam consectetur nihil ut pariatur itaque qui quo ipsam autem! Quisquam alias maiores necessitatibus, porro praesentium nulla excepturi provident optio error, tempore ratione ab eligendi dolores velit eos unde voluptatum veniam numquam quod est doloremque laboriosam nesciunt, cum dignissimos. Sed?
        </p>
    </div>
    <div class="comment">
        <p>
            2
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nam quisquam laudantium tenetur provident, quia quas impedit at nihil dignissimos!
        </p>
    </div>
    <div class="comment">
        <p>
            3
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores minus qui exercitationem voluptas possimus molestiae modi molestias nam? Asperiores illo hic repellendus error ab delectus, mollitia voluptatum explicabo rem amet?
        </p>
    </div>
    <div class="comment">
        <p>
            4
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam ad excepturi, laudantium sit quod saepe? Eligendi dolorem placeat non obcaecati, modi corporis maxime earum nulla soluta, quidem porro et ratione facere enim velit delectus impedit, quod fugit praesentium tempore expedita sapiente. Rerum odio tenetur fugit fuga ipsam itaque? Beatae et qui repellat molestias quis hic impedit ea eveniet nobis deleniti, iste modi veniam aut tempora assumenda voluptas? Ipsum nobis quia dignissimos maiores doloribus ducimus eum possimus soluta. Distinctio repellendus
        </p>
    </div>
</div>
