h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #FFF8F8;
}

.comment {
    border: 1px solid rgb(7, 29, 128);
    background-color: rgba(238, 238, 238, 0.904);
    border-radius: 20px;
    width: 90%;
    padding: 5%;
    margin-bottom: 20px;
}

.comment > p {
    color: #22425A; 
}