<head>
    <title>Saesons</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Saeson</h1>
        </div>
        <img id="episode-poster" src="https://images.epagine.fr/184/9782355743184_1_75.jpg" alt="Affiche du Film">
        <div id="episode-info">
            <h2>Synopsis</h2>
            <p>Un résumé captivant du film qui donne aux spectateurs un aperçu de l'histoire passionnante.</p>

            <h2>Acteurs principaux</h2>
            <p>Nom de l'acteur 1, Nom de l'acteur 2, Nom de l'acteur 3</p>

            <h2>Date de sortie</h2>
            <p>1er Janvier 2023</p>

            <ul id="episodeList">
              <li><a>episode 1</a></li>
            </ul>
        </div>
    </div>
</body>
<!--<div>
<tr>
  <td>Title :</td>
</tr>
</div>-->
