<head>
    <title>Nom de la Serie</title>
</head>
<body>
    <div id="container">
      <div id="header">
          <h1>Nom de la Serie </h1>
      </div>
      <img id="movie-poster" src="https://images.epagine.fr/184/9782355743184_1_75.jpg" alt="Affiche du Film">
      <div id="movie-info">
          <h2>Synopsis</h2>
          <p>Un résumé captivant de la serie qui donne aux spectateurs un aperçu de l'histoire passionnante.</p>

          <h2>Acteurs principaux</h2>
          <p>Nom de l'acteur 1, Nom de l'acteur 2, Nom de l'acteur 3</p>

          <h2>Date de sortie</h2>
          <p>1er Janvier 2023</p>

          <h2>Categories</h2>
          <p>Action, Aventure, Animation</p>

          <h2>Length</h2>
          <p>50</p>

          <h2>Plot</h2>
          <p>Blabla</p>

        <h2>Content Rating</h2>
        <p>blibli</p>

        <h2>Overall rating</h2>
        <p>bloblo</p>

          <h2>Trailer</h2>
          <div><video controls width="250">
            <source src="https://www.youtube.com/watch?v=EhIZrZQoHuA" type="video/webm" />
          </video>
          </div>
        <h2>Seasons</h2>
        <p>season 1<a href="https://http.cat/">lien</a></p>
        <p>season 2<a href="https://http.cat/">lien</a>  </p>
        <app-evaluation></app-evaluation>
        <app-comments></app-comments>
      </div>  
    </div>
</body>
