

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#mainBlock {
    background-color: rgba(166,158,169,0.47);
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(1,100%);
    scroll-behavior: smooth;
    height: 300px;
    width: 100%;
    margin: 50px 0px;
}
section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}

#individualBlock > #redirect > img {
    height: 268px;
    width: 182px;
    border-radius: 10px;
}

#redirect:hover {
    opacity: 1;
}

#individualBlock:hover {
transform: scale(1.2);
position: relative;
transition: 250ms;
} 

#arrow__btn {
position: absolute;
top: 20px;
color: #fff;
text-decoration: none;
font-size: 6em;
background:rgba(255, 254, 254, 0.384);
width: 40px;
height: 300px;
border-radius: 10px;
z-index: 1;

    &:nth-of-type(1) {
        top:0; bottom:0; left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.411) 100%);
    }
    &:nth-of-type(2) {
        top:0; bottom:0; right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.411) 100%);
    }
}

#fleche {
    margin-top: 80px;
}

a:hover {
    opacity: 0.7;
}
    


@media all and (max-width: 450px) {
    a.arrow__btn {
        display:none;
    }
}